<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>JoinService</servlet-name>
  	<display-name>JoinService</display-name>
  	<description></description>
  	<servlet-class>com.plandly.controller.JoinService</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Plandly_MemberVO</servlet-name>
  	<display-name>Plandly_MemberVO</display-name>
  	<description></description>
  	<servlet-class>com.plandly.model.Plandly_MemberVO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadTask</servlet-name>
  	<display-name>UploadTask</display-name>
  	<description></description>
  	<servlet-class>com.plandly.controller.UploadTask</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetEventsNum</servlet-name>
  	<display-name>GetEventsNum</display-name>
  	<description></description>
  	<servlet-class>com.plandly.controller.GetEventsNum</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateTaskIsDone</servlet-name>
  	<display-name>UpdateTaskIsDone</display-name>
  	<description></description>
  	<servlet-class>com.plandly.controller.UpdateTaskIsDone</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadTask</servlet-name>
  	<display-name>LoadTask</display-name>
  	<description></description>
  	<servlet-class>com.plandly.controller.LoadTask</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>Plandly_MemberVO</servlet-name>
  	<url-pattern>/Plandly_MemberVO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetEventsNum</servlet-name>
  	<url-pattern>/GetEventsNum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateTaskIsDone</servlet-name>
  	<url-pattern>/UpdateTaskIsDone</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadTask</servlet-name>
  	<url-pattern>/LoadTask</url-pattern>
  </servlet-mapping>

  
  
</web-app>
