<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>JoinService</servlet-name>
		<display-name>JoinService</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.JoinService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Plandly_MemberVO</servlet-name>
		<display-name>Plandly_MemberVO</display-name>
		<description></description>
		<servlet-class>com.plandly.model.Plandly_MemberVO</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadTask</servlet-name>
		<display-name>UploadTask</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.UploadTask</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetEventsNum</servlet-name>
		<display-name>GetEventsNum</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.GetEventsNum</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateTaskIsDone</servlet-name>
		<display-name>UpdateTaskIsDone</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.UpdateTaskIsDone</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoadTask</servlet-name>
		<display-name>LoadTask</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.LoadTask</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KakaoJoin</servlet-name>
		<display-name>KakaoJoin</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.KakaoJoin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberJoin</servlet-name>
		<display-name>MemberJoin</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.MemberJoin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpCategoriCal</servlet-name>
		<display-name>UpCategoriCal</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.UpCategoriCal</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberCheck</servlet-name>
		<display-name>MemberCheck</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.MemberCheck</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpPublicCal</servlet-name>
		<display-name>UpPublicCal</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.UpPublicCal</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteTask</servlet-name>
		<display-name>DeleteTask</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.DeleteTask</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCate</servlet-name>
		<display-name>GetCate</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.GetCate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Famous</servlet-name>
		<display-name>Famous</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.Famous</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberChange</servlet-name>
		<display-name>MemberChange</display-name>
		<description></description>
		<servlet-class>com.plandly.controller.MemberChange</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Plandly_MemberVO</servlet-name>
		<url-pattern>/Plandly_MemberVO</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetEventsNum</servlet-name>
		<url-pattern>/GetEventsNum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTaskIsDone</servlet-name>
		<url-pattern>/UpdateTaskIsDone</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadTask</servlet-name>
		<url-pattern>/LoadTask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KakaoJoin</servlet-name>
		<url-pattern>/JoinServlet</url-pattern> <!-- KakaoLogin servlet annotation과 동일하게 -->
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemberJoin</servlet-name>
		<url-pattern>/MemberJoin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpCategoriCal</servlet-name>
		<url-pattern>/UpCategoriCal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemberCheck</servlet-name>
		<url-pattern>/MemberCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpPublicCal</servlet-name>
		<url-pattern>/UpPublicCal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTask</servlet-name>
		<url-pattern>/DeleteTask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCate</servlet-name>
		<url-pattern>/GetCate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Famous</servlet-name>
		<url-pattern>/Famous</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemberChange</servlet-name>
		<url-pattern>/MemberChange</url-pattern>
	</servlet-mapping>


</web-app>
