@charset "UTF-8";

   /*#wrap {
        position: relative;
        min-width: 1180px;
        margin-left: auto;
        margin-right: auto;

         스크롤 추가 
        overflow-y: auto;
         수직 스크롤 
    }

     헤더고정 
    #headerDiv {
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 9999;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-left: 20px;
        padding-right: 20px;


        border-bottom: 1px solid #dee2e6;
         아래쪽 테두리 추가 
    }

    .Toplist {
        order: -1;
         좌측으로 배치 
    }

    .Watch {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
         중앙으로 배치 
    }*/

	
    
   /* #mainDiv {
        position: relative;
        width: 1180px;
        margin: 0 auto;
        padding-top: 10%;


    }

    #content {
        display: flex;
        flex-wrap: wrap;
    }

    .content1_pack {
        width: 100%;
        box-sizing: border-box;
        padding-left: 4%;
         좌우 여백 추가 
        padding-right: 2%;
        justify-content: space-around;
        background-color: rgb(167, 202, 243);
    }

    @media (min-width: 600px) {
        .content1_pack {
            width: calc(33.3333% - 20px);
            margin-right: 30px;
            margin-bottom: 20px;
        }
    }

    @media (min-width: 800px) {
        .content1_pack:nth-child(3n) {
            margin-right: 0;
        }
    }

     화면크기 줄었을때 Watch만 
    @media (max-width: 900px) {
        #Watch {
            display: none;
        }

        #headerDiv>div {
            display: block;
        }
    }*/