@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto:wght@100&display=swap')
	;

/* 화면 분할 css */
#main-container {
	display: flex;
}

/* #calendar-container, #todo-list {
	flex: 1;
} */
#calendar-container{
	flex: 1;
}
/* 풀캘린더 css */
/* [컨테이너 크기 설정] */
#calendar {
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
	top: 5%;
}

.fc-event-time {
	display: none;
}

#calendar {
	font-family: 'Black Han Sans', sans-serif;
	background-color: white;
}

/* 다음달로 넘어가는 버튼 */
.fc-prev-button.fc-button.fc-button-primary {
	background-color: #877eda;
	width: 75;
	height: 45;
	border-radius: 10;
	border: 5px solid #b0aebe;
}

/* 저번달로 넘어가는 버튼 */
.fc-next-button.fc-button.fc-button-primary {
	background-color: #877eda;
	width: 75;
	height: 45;
	border-radius: 10;
	border: 5px solid #b0aebe;
}

.fc-today-button.fc-button.fc-button-primary {
	background-color: #877eda;
	width: 75;
	height: 43;
	border-radius: 10;
	border: 5px solid #b0aebe;
}

/* 캘린더 요소 하나씩의 border*/
.fc-scrollgrid-sync-inner {
	border: 2px solid #48455c;
}

/* 일수 글꼴 변경*/
.fc-daygrid-day-number {
	font-size: 20;
}

/* 장기 이벤트 색깔 */
.fc-event-main-frame {
	background-color: #877eda;
}

.fc--button.fc-button.fc-button-primary {
	display: none;
}